.DS_Store
/venv
/backend/__pycache__
/backend/settings/__pycache__

# local env files
.env.local
.env.*.local

# Log files
yarn-debug.log*
yarn-error.log*
yarn.lock

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
