.DS_Store
.venv/
.devcontainer

# local env files
.env.local
.env.*.local
env.sh

# Log files
logs
*.log
pip-log.txt
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Editor directories and files
.idea
.vscode/
__pycache__/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

#webpack
webpack-stats.json
dist/

#npm 
node_modules

# User-uploaded media
media/

# Collected staticfiles
*/staticfiles/

.cache/
**/certs
